<div class="ng-cloak">
	<div>
		<h2>{{program._id}}<img class="icon" ng-src="{{icon(program.icon)}}" />
			<div ng-show="auth.permission('edit-program')">
				<button ng-disabled="state.cannot('edit')" ng-click="state.edit()">Edit</button>
				<button ng-disabled="state.cannot('save')"  ng-click="state.save()">Save</button>
				<button ng-disabled="state.cannot('cancel')"   ng-click="state.cancel()">Cancel</button>
			</div>
		</h2>
		<table style="width: 100%">
			<tr>
				<td class="label">Description</td>
				<td id="program-description">
					<div class="markdown" ng-model="program.description"  change='state.changed()' editable="state.can('changed')" ></div>
				</td>
			</tr>
			<tr>
				<td class="label">Vendor</td>
				<td><input type="text" ng-disabled="state.cannot('changed')" ng-model="program.vendor"></input></td>
			</tr>
			<tr>
				<td class="label">Mailing list</td>
				<td><input type="text" ng-disabled="state.cannot('changed')" ng-model="program.mailingList"></input></td>
			</tr>
			<tr>
				<td class="label">Source control</td>
				<td><input type="text" ng-disabled="state.cannot('changed')" ng-model="program.scm"></input></td>
			</tr>
			<tr>
				<td class="label">Issues</td>
				<td><input type="text" ng-disabled="state.cannot('changed')" ng-model="program.issues"></input></td>
			</tr>
			<tr>
				<td class="label">Revisions</td>
				<td><a class="{{type(ref)}}"
					ng-repeat="ref in program.revisions"
					href="#/p/{{program._id}}/r/{{ref.version.base}}">{{ref.version.base}}</a></td>
			</tr>
		</table>
		<p></p>
	</div>
	<div class=".clear">
		<a ng-href="http://www.facebook.com/sharer.php?u={{url}}"
			target="_blank" title="Share on Facebook" class="facebook"></a> <a
			ng-href="http://twitter.com/home?status={{tweet}}" target="_blank"
			title="Share on Twitter" class="twitter"></a> <a class="email"> </a>
		<a class="googlep"> </a> <a class="linkedin"> </a> <a
			class="stackoverflow"> </a>
		<div style="clear: both" />
	</div>
	<div style="clear: both;" ng-hide="!revision.version.base">
		<h3>
			<img class="icon" ng-src="{{icon(revision.icon)}}" /><a
				class="{{type(revision)}}">{{revision.version.base }}</a>
				
			<div ng-show="auth.permission('manage-revision')">
				<button ng-repeat="b in buttons()" ng-disabled="state.cannot(b)" ng-click="state[b]()">{{b}}</button>
			</div>
			
		</h3>
		<table style="width: 100%">
			<tr>
				<td class="label">Description</td>
				<td>{{revision.description}} {{if(revision.master) [master]}}</td>
			</tr>
			<tr>
				<td class="label">Qualifier</td>
				<td>{{revision.version.qualifier}}</td>
			</tr>
			<tr>
				<td class="label">Revision Summary</td>
				<td>{{revision.summary}}</td>
			</tr>
			<tr>
				<td class="label">Vendor</td>
				<td>{{revision.vendor}}</td>
			</tr>
			<tr>
				<td class="label">Documentation</td>
				<td><a ng-hide="!revision.docUrl" ng-href="{{revision.docUrl}}">{{revision.docUrl}}</a></td>
			</tr>
			<tr>
				<td class="label">Mailing list</td>
				<td>{{revision.mailingList}}</td>
			</tr>
			<tr>
				<td class="label">License(s)</td>
				<td>
					<div class='license' ng-repeat="l in revision.licenses">
						<a ng-href="{{l.link || l.name}}">{{l.description || l.name}}</a>
					</div>
				</td>
			</tr>
			<tr>
				<td class="label">Categories</td>
				<td>{{revision.categories}}</td>
			</tr>
			<tr>
				<td class="label">Developers</td>
				<td><img ng-repeat="d in revision.developers" title="{{d.id}}"
					class="developer" ng-src="/rest/gravatar/{{d.id}}?s=32" /></td>
			</tr>
			<tr>
				<td class="label">Contributors</td>
				<td><img ng-repeat="d in revision.contributors"
					title="{{d.id}}" class="developer"
					ng-src="/rest/gravatar/{{d.id}}?s=32" /></td>
			</tr>
			<tr>
				<th colspan="2">Import data</th>
			</tr>
			<tr>
				<td class="label">Used file (sha)</td>
				<td><a ng-href="{{revision.url}}">{{revision.sha}}</a></td>
			</tr>
			<tr>
				<td class="label">Source control</td>
				<td>{{revision.scm.url}} {{revision.tag}}</td>
			</tr>
			<tr>
				<td class="label">Updated</td>
				<td>{{revision.updated}}</td>
			</tr>
			<tr>
				<td class="label">Parse Date</td>
				<td>{{date(revision.insertDate)}}</td>
			</tr>
			<tr>
				<td class="label">Message</td>
				<td>{{revision.message}}</td>
			</tr>
			<tr>
				<td class="label">Importer</td>
				<td ng-hide="!revision.owner"><img title="{{revision.owner}}"
					class="developer" ng-src="/rest/gravatar/{{revision.owner}}?s=32" /></td>
			</tr>
		</table>
		
		Capabilities: {{revision.capabilities}}
		Requirements: {{revision.requirements}}
	</div>

</div>